@import url('https://fonts.googleapis.com/css?family=Sarabun');

h1 {
  margin: 2rem;
}

.search-box{
  margin: 3em 0 3em 0;
}
.header-container {
  max-width: 1295px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 15px 30px 15px 0;
}

.searchbar {
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #35c1b3;
  transition: all .2s;
  transition-delay: .1s;
  min-width: 50vw;
}

.data-card {
  text-align: center;
  border: 1px solid #eee;
  padding: 1rem;
  margin-bottom: 1rem;
}
.data-card img {
  float: right;
  /* padding: 3px; */
}
.card {
  margin-top: 1.5rem !important;
}
.card-body {
  border-radius: 10px;
  border-color: #35c1b3;
  border-left: 6px solid #35c1b3;;
}
.card-body > div {
  display: flex;
  text-align: left;
  justify-content:space-between;
  align-items: center;
}
.title {
  font-size: 12px;
  color: #35c1b3;
  padding-bottom: 5px;
}
.value {
  color: rgb(125, 139, 137);
  padding-bottom: 10px;
  word-break: break-all;
}
.searchbar::placeholder {
  opacity: .5;
  color: #35c1b3;
}
.head-title {
  margin-top: 75px;
  color: #35c1b3;
  font-size: 40px;
}
.nav-link {
  padding: 1rem .4rem;
}
.nav-link.active, .nav-link:focus, .nav-link:hover {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 5px solid #4cc1b3;
  color: #4cc1b3;
}
a.nav-link:active, a.nav-link:visited{
  color: #4cc1b3;
}